{% extends "template.html" %}
{% block content %}

<!-- Show an error message saying that this url does not exist with bootstrap -->
<div class="container align-items-center" id="main-password">
    <div class="row">
        <div class="col">
            <div class="card" id="password-card">
                <div class="card-body">
                    <form action="" method="post" onload="data => {console.log(data)}" onerror="data => {console.log(data)}">
                        <h3>The stats for this url are protected by password</h3>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" name="password" aria-describedby="passwordHelp">
                            <div id="passwordHelp" class="form-text">Password set while generating the QR code</div>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}